<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="content-wrapper">
        <div class="float-left" style="width:100%;">

            <header>
                <div id="title" style="text-align:center;">
                    <h1>Firmus Software Ltd</h1>
                </div>
                @*            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Research", "Research", "Home")</li>
                        <li>@Html.ActionLink("STP", "Stp", "Home")</li>
                        <li>@Html.ActionLink("Windows 8", "Windows8", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </nav>*@
            </header>

            
                <div id="tiles">

                        @*                <div class="live-tile" data-mode="flip" data-delay="3000" data-initDelay="700">
                    <div>
                        <a href="@Url.RouteUrl("Default",new {action="Index", controller="Home"})">
                            <img src=@Url.Content("~/images/home-green.png")  alt="home" class="horiz-centre-img" />
                        </a>
                    </div>
                    <div>
                        <a href="@Url.RouteUrl("Default",new {action="Index", controller="Home"})">
                            <img src=@Url.Content("~/images/home-green.png")  alt="home" class="horiz-centre-img" />
                        </a>
                    </div>
                </div>*@

                        <div class="live-tile" data-mode="flip" data-delay="4000">
                            <div>
                                <a href="@Url.RouteUrl("Default", new { action = "Stp", controller = "Home" })">
                                    <img src=@Url.Content("~/images/services-green.png")  alt="about" class="horiz-centre-img" />
                                </a>
                            </div>
                            <div>
                                <a href="@Url.RouteUrl("Default", new { action = "Stp", controller = "Home" })">
                                    <img src=@Url.Content("~/images/services-green.png")  alt="about" class="horiz-centre-img" />
                                </a>
                            </div>
                        </div>

                        <div class="live-tile" data-mode="flip" data-delay="5000">
                            <div>
                                <a href="@Url.RouteUrl("Default", new { action = "Research", controller = "Home" })">
                                    <img src=@Url.Content("~/images/news-green.png")  alt="research" class="horiz-centre-img" />
                                </a>
                            </div>
                            <div>
                                <a href="@Url.RouteUrl("Default", new { action = "Research", controller = "Home" })">
                                    <img src=@Url.Content("~/images/news-green.png")  alt="research" class="horiz-centre-img" />
                                </a>
                            </div>
                        </div>

                        <div class="live-tile" data-mode="flip" data-delay="3000" data-initdelay="500">
                            <div>
                                <a href="@Url.RouteUrl("Default", new { action = "About", controller = "Home" })">
                                    <img src=@Url.Content("~/images/about-us-green.png")  alt="about" class="horiz-centre-img" />
                                </a>
                            </div>
                            <div>
                                <a href="@Url.RouteUrl("Default", new { action = "About", controller = "Home" })">
                                    <img src=@Url.Content("~/images/about-us-green.png")  alt="about" class="horiz-centre-img" />
                                </a>
                            </div>
                        </div>
                    </div>
            

@*            <div style="top: 25%">
                @RenderBody()
            </div>*@

            @RenderBody()

            <footer class="appbar">
                <nav>
                    <ul id="appbarmenu" class="appbar-buttons">
                        <li>
                            <a href="@Url.RouteUrl("Default", new { action = "Index", controller = "Home" })" class="home">
                                <img src="/images/1pixel.gif" alt="home" /></a>
                            <span class="charm-title">Home</span>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("Default", new { action = "About", controller = "Home" })" class="about">
                                <img src="/images/1pixel.gif" alt="about" /></a>
                            <span class="charm-title">About</span>
                        </li>
                    </ul>
                </nav>
                <a class="etc">&bull;&bull;&bull;</a>
                <ul class="theme-options clear">
                </ul>
                <ul class="base-theme-options clear">
                </ul>
            </footer>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/Site.js")

    @RenderSection("scripts", required: false)
</body>
</html>
